{% extends "base.html" %}

{% block title %} Contactos {% endblock %}


{% block content %}

<!-- Contact Section-->
        <br>
           <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-secondary mb-0">Registro de Usuario</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-circle"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <form method="post">
                    {% csrf_token %}
                  
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Name input-->
                       {% for field in form %}
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                            <label for="name">{{field.html_name | capfirst}}</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        {% endfor %}
                        <br>
                        <button class="btn btn-secondary btn-xl disabled" id="submitButton" type="submit">Enviar</button>
                    </form>

                  </form>

            </div>
        </section>
{% endblock %}
