{% extends "base.html" %}

{% block title %} Contactos {% endblock %}


{% block content %}

<!-- Contact Section-->
        <br>
           <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-secondary mb-0">Editar Usuario</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-line"></div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Contacto</a>  
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Direccion</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Telefono</a>
                    </li>
                    </ul>


                    <div class="text-center">
                        
                    </div>

            </div>
        </section>
{% endblock %}