
{% extends "base.html" %}

{% block title %} Contactos {% endblock %}

{%block styles%}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.2/css/dataTables.bootstrap5.min.css">
<style> 
  .img-formato{
    width:70px;
    height:70px;
    object-fit:cover;
    border-radius:100px
    }

    .icon-formato{
     font-size: 2.5rem;
     color: #CACACA;
      }
  </style>
{%endblock%}

{% block content %}

<!-- Contact Section-->
        <br>
            <div>
           <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-secondary mb-0">Lista de Contactos</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-line"></div>
                </div>
            </div>
            </section>


              <div class="text-center">
              <a href="/contactos" class="btn btn-primary">Agregar nuevo contacto</a>
               </div>
 

<!--Tablas de Contactos-->
       
           <div class='container'>
            <table class="table w-100" id="tblcontactos">
                <thead>
                  <tr class="text-center">
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                {% for p in contactos %}
                <tbody>
                  <tr class="text-center">
                    {% if p.fotografia %}
                    <div class="container">
                    <td><img src={{p.fotografia.url}} alt='foto' class="img-formato">
                    </div>
                     
                    {% else %}
                    <div class="container">
                        <td class="text-center"><img src="/static/img/fotos/Defecto.png" alt='foto' class="img-formato">
                        </div>
                    {% endif %}


                    <td>{{ p.nombre | capfirst }}</td>
                    <td>{{p.apellidos}}</td>
                    <td>{{p.fecha_nacio}}</td>
                    <td>
                      <i class="fa fa-pencil-square icon-formato" aria-hidden="true"></i>  
                      <i class="fa fa-minus-square icon-formato" aria-hidden="true"></i>

                    </td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
           </div 

        


    
{% endblock %}

{% block scripts %}


 <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.2/js/dataTables.bootstrap5.min.js"></script>
 <script>
  $(document).ready( function () {
    $('#tblcontactos').DataTable(
      
    );
    
  });
 </script>
{% endblock %}